.totalBalanceTile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .balance {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .switcherContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .upcomingChanges {
    font-size: 0.9rem;
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
    .title {
      margin-bottom: 0.5rem;
    }
  }
}
