$primary-bg-color: #0a0a0a;
$secondary-text-color: #808080;

.income {
  background: rgba(65, 179, 0, 0.1);
  border: 1px solid #a7a7a721;
  .amount {
    span {
      &:first-child {
        color: #41b300;
      }
    }
  }
}

.expense {
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid #a7a7a721;
  .amount {
    span {
      &:first-child {
        color: #ff0000;
      }
    }
  }
}

.paymentsList {
  // z-index: 98;
  // position: absolute;
  // top: 30px;
  //padding: 0.5rem;
  min-width: 240px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  //min-width: 230px;
  font-size: 0.9rem;
  //max-height: 190px;
  //overflow: hidden;
  line-height: 1.4rem;
  .paymentItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 6px;
    .details {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      span {
        &:first-child {
          font-weight: 600;
        }
        &:last-child {
          color: $secondary-text-color;
        }
      }
    }
    .amount {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span {
        &:first-child {
          font-weight: 600;
        }
        &:last-child {
          color: $secondary-text-color;
        }
      }
    }
  }
}
