:root {
  --color-input-bg: #222222;
  --color-input-placeholder: #888888;
  --color-input-text: #ffffff;
  --input-font-size: 0.85rem;
  --input-icon-size: 1.1rem;
  --input-label-font-size: 0.9rem;
  --input-label-width: 150px;
}
