.react-datepicker {
  background-color: var(--color-bg-tile) !important;
  border: none !important;
  .react-datepicker__month {
    margin: 0;
  }
  .react-datepicker__navigation {
    top: 0;
    //line-height: 1rem;
    &--previous {
      right: auto;
      left: 1rem;
    }
    &--next {
      right: 1rem;
      left: auto;
    }
  }
  .react-datepicker__header {
    background-color: transparent !important;
    border-bottom: 0;
  }
  .react-datepicker__current-month {
    color: var(--color-input-text) !important;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .react-datepicker__day-names {
    //background: var(--color-action-active);
    border-radius: var(--border-radius-m);
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    //border-bottom: 2px solid var(--color-action-active);
  }
  .react-datepicker__day-name {
    color: var(--color-text-primary);
    margin: 0.3rem 0.5rem;
    font-weight: 600;
  }
  .react-datepicker__day {
    color: var(--color-text-primary);
    border-radius: var(--border-radius-s);
    margin: 0.4rem 0.5rem;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: var(--color-action-active-hover) !important;
    }
    &--keyboard-selected {
      //background: var(--color-action-active);
      background: transparent;
      &:hover {
        background: var(--color-action-active-hover);
      }
    }
    &--today {
      border: 2px solid var(--color-action-active);
    }
    &--selected {
      background: var(--color-action-active);
      &:hover {
        background: var(--color-action-active-hover);
      }
    }
    &--disabled {
      cursor: not-allowed !important;
      opacity: 0.3;
      pointer-events: none;
      &:hover {
        cursor: not-allowed !important;
      }
    }
  }
}
