@use "./_variables.scss";

:root {
  --color-bg-main: #121212;
  --color-bg-secondary: #171718;
  --color-bg-tile: #1c1c1c;
  --color-text-primary: #ededed;
  --color-text-secondary: #b4b4b4;
  --color-text-active: #d34702;
  --color-action-hover: #d34702;
  --color-action-active: #d34702;
  --color-action-active-hover: #973a13;
  --color-action-danger: #ff0000;
  --color-action-danger-hover: #b10000;
  /* Border */
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: var(--color-text-primary);
  background: var(--color-bg-main);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Ensure SVGs don't have weird gaps below them */
svg {
  display: block;
}

input {
  font-family: inherit;
}

.flex-row-space-between {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
}

.landing-page {
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  margin: auto;
  .bg {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    opacity: 0.3;
    height: 100vh !important;
  }
}

.auth-layout {
  width: 100%;
  min-height: 100vh;
  .image {
    display: none;
  }
  .inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  .auth-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .image {
      background: #973a13;
      display: block;
    }
  }
}

@media (min-width: 1200px) {
  .landing-page {
    width: 90%;
  }
}
