.nav {
  position: relative;
  display: flex;
  gap: 1.5rem;
  background: var(--color-bg-tile) !important;
  padding: 0.3rem 0.7rem;
  list-style: none;
  border-radius: 10px;
  line-height: 1rem;
  .item {
    z-index: 2;
    position: relative;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
  }
  .active {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: var(--color-action-active);
    border-radius: 10px;
  }
}
