.loginFormContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  .logo {
    color: var(--color-action-active);
    //margin-bottom: 2rem;
  }
  .subtitle {
    text-align: center;
    line-height: 1.7rem;
  }
  .loginButton {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
}
