.loginFormContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  .loginButton {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
}
