.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  .logo {
    color: var(--color-action-active);
  }
  .subtitle {
    text-align: center;
    line-height: 1.7rem;
  }
  .loginButton {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
}
