.signupSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
  text-align: center;
  .successImage {
    position: relative !important;
    width: 100px !important;
  }
  .resend {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}
