.dashboardFeature {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 3rem;
  .bg {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
    background: linear-gradient(
      135deg,
      var(--color-bg-main) 0%,
      #d34702 50%,
      var(--color-bg-main) 100%
    );
    opacity: 0.1;
    z-index: -1;
  }
  .dashboard {
    display: grid;
    grid-template-rows: auto auto;
    gap: 4rem;
    padding: 1rem;
    border-radius: var(--border-radius-l);
    margin-bottom: 3rem;
    margin: auto;
    .imageWrapper {
      position: relative;
      display: flex;
      justify-content: center;
      //padding: 0.1rem;
      background: var(--color-bg-secondary);
      border-radius: var(--border-radius-l);
      margin: auto;
      .blur {
        z-index: 1;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        width: 30%;
        background: linear-gradient(to right, #22222200, #222222);
        border-radius: var(--border-radius-l);
      }
      .image {
        position: relative !important;
        border-radius: var(--border-radius-l);
        width: 100%;
        object-fit: contain;
      }
    }
    .textContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      h2 {
        font-size: 1.5rem;
      }
      p {
        line-height: 2rem;
        font-size: 1rem;
      }
      .featuresList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1rem;
        li {
          position: relative;
          display: flex;
          align-items: center;
          gap: 0.9rem;
          span {
            width: 15px;
            height: 15px;
            background: var(--color-action-active);
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .dashboardFeature {
    .dashboard {
      max-width: 700px;
      .imageWrapper {
        aspect-ratio: unset;
        height: 100%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .dashboardFeature {
    .dashboard {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 6rem;
      max-width: 100%;
      .imageWrapper {
        max-width: 800px;
      }
    }
  }
}
