.detailedFeatures {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  .bg {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
    background: #222222;
    z-index: -1;
  }
  .headline {
    text-align: center;
    font-size: 1.3rem;
    line-height: 3rem;
    margin-top: 2rem;
  }
  .payments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 1rem;
    border-radius: var(--border-radius-l);
    //background: var(--color-bg-tile);
    .imageWrapper {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 1rem;
      background: var(--color-bg-secondary);
      //max-width: 600px;
      //aspect-ratio: 1/1.1;
      border-radius: var(--border-radius-l);
      //box-shadow: 0 0 20px 5px #d3470242;
      //border: 1px solid #d3470242;
      .blur {
        z-index: 1;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(#22222200, #222222);
      }
      .image {
        position: relative !important;
        border-radius: var(--border-radius-l);
        width: 100%;
        // width: 100%;
        // height: 100%;
      }
    }
    .textContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      h2 {
        font-size: 1.5rem;
      }
      p {
        line-height: 2rem;
        font-size: 1rem;
      }
      .featuresList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1rem;
        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}
