.footer {
  padding: 2rem 0 1.5rem 0;
  margin-top: 3rem;
  font-size: 1.03rem;
  position: relative;
  ::before {
    position: absolute;
    top: 0;
    width: 100%;
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 1.5rem;
  }
  .footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footerLinks {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    .footerLink {
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      font-weight: 500;
      &:hover {
        color: var(--color-action-active);
      }
    }
  }
  .footerBottom {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 0.9rem;

    p {
      &:nth-child(2) {
        margin-left: auto;
      }
    }
  }
}
