.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1rem;
  background: #121212c4;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  .logo {
    color: var(--color-action-active);
  }
  .loginButton {
    display: none;
    margin-left: auto;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--color-text-active);
    }
  }
  .mobileNav {
    display: block;
    position: relative;
    cursor: pointer;
    .icon {
      font-size: 1.2rem;
      color: var(--color-text-primary);
      background: var(--color-bg-secondary);
      border-radius: 10px;
      padding: 0.6rem;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: var(--color-text-active);
      }
    }
  }
  .mobileMenu {
    list-style: none;
    position: absolute;
    top: 0;
    height: 100vh;
    right: 0;
    background: var(--color-bg-secondary);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    .mobileMenuItem {
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      width: fit-content;
      margin: 0 1rem;
      &:hover {
        color: var(--color-text-active);
      }
    }
  }
  .nav {
    display: none;
    list-style: none;
    gap: 2rem;
    .navItem {
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: var(--color-text-active);
      }
    }
  }
  .blur {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(211, 71, 2, 0.4) 0%,
      rgba(211, 71, 2, 0) 60%
    );
    filter: blur(100px);
    z-index: -1;
  }
}

@media (min-width: 600px) {
  .loginButton {
    display: block !important;
    margin-left: 0 !important;
  }
  .nav {
    display: flex !important;
  }
  .mobileNav {
    display: none !important;
  }
}
