.headline {
  text-align: center;
  font-size: 1.3rem;
  line-height: 3rem;
  &::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.25rem;
    background: var(--color-action-active);
    margin: 1rem auto 0 auto;
    border-radius: var(--border-radius-s);
  }
}
