.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  .loginButton {
    display: none;
    margin-left: auto;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--color-text-active);
    }
  }
  .mobileNav {
    display: block;
    position: relative;
    cursor: pointer;
    .icon {
      font-size: 1.2rem;
      color: var(--color-text-primary);
      background: var(--color-bg-secondary);
      border-radius: 10px;
      padding: 0.6rem;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: var(--color-text-active);
      }
    }
  }
  .mobileMenu {
    list-style: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: var(--color-bg-secondary);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .mobileMenuItem {
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      width: fit-content;
      margin: 0 1rem;
      &:hover {
        color: var(--color-text-active);
      }
    }
  }
  .nav {
    display: none;
    list-style: none;
    gap: 1rem;
    .navItem {
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: var(--color-text-active);
      }
    }
  }
}

@media (min-width: 600px) {
  .loginButton {
    display: block !important;
    margin-left: 0 !important;
  }
  .nav {
    display: flex !important;
  }
  .mobileNav {
    display: none !important;
  }
}
