.heroSection {
  font-size: 1.3rem;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    max-width: 900px;
    margin: auto;
    .subheadline {
      line-height: 2rem;
    }
  }
  .image {
    position: relative !important;
    max-width: 1050px;
    aspect-ratio: 3 / 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
