.accountsTile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .account {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    //background: #0a0a0a;
    background: #833ab4;
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    border-radius: 14px;
    padding: 1rem;
    .type {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & p {
        background: #0a0a0a7e;
        border-radius: 8px;
        padding: 0.3rem;
      }
    }
    .balance {
      display: flex;
      justify-content: space-between;
      background: #0a0a0a7e;
      border-radius: 8px;
      padding: 0.5rem;
    }
  }
}
