.header {
  z-index: 97;
  position: fixed;
  top: 1rem;
  //Sidebar margin + width
  left: calc(1.5rem + 38px);
  right: 0.5rem;
  display: flex;
  align-items: center;
  //justify-content: flex-end;
  justify-content: space-between;
  gap: 1rem;
  background: linear-gradient(
    55deg,
    rgba(18, 18, 18, 1) 20%,
    rgba(26, 26, 26, 1) 100%
  );
  box-shadow: 0 4px 12px rgba(20, 20, 20, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(109, 109, 109, 0.2);
  border-radius: 14px;
  padding: 0.5rem;
  .welcome {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .avatar {
      cursor: pointer;
      border-radius: 50%;
    }
    .data {
      display: flex;
      flex-direction: column;
      // font-size: 0.9rem;
      .timestamp {
        font-size: 0.9rem;
        color: #888;
      }
    }
  }
  .welcomeMessage {
    margin-right: auto;
  }
  .userImage {
    position: relative;
    .avatar {
      cursor: pointer;
      border-radius: 50%;
    }
  }
  .notificationsIcon {
    position: relative;
    font-size: 1.7rem;
    cursor: pointer;
    transition: color 0.3s;
    .counter {
      position: absolute;
      bottom: -7px;
      right: -6px;
      font-size: 0.8rem;
      background-color: #41b300;
      border-radius: 50%;
      width: 14px;
      aspect-ratio: 1/1;
    }
  }
}
