.dashboardOptions {
  // background: var(--color-bg-tile);
  //border-radius: var(--border-radius-l);
  //padding: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  button {
    padding: 0.7rem 1rem;
  }
}
