.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  background: var(--color-bg-main);
  padding: 1rem 0.5rem 1rem 0;
  .notificationsIcon {
    //margin-left: auto;
    position: relative;
    font-size: 1.2rem;
    padding: 0.4rem;
    background: var(--color-bg-tile);
    border-radius: var(--border-radius-m);
    color: var(--color-text-secondary);
    cursor: pointer;
    .counter {
      position: absolute;
      bottom: -4px;
      right: -6px;
      font-size: 0.8rem;
      background-color: var(--color-text-active);
      border-radius: 50%;
      width: 10px;
      aspect-ratio: 1/1;
    }
  }
}
