.dashboardControls {
  position: relative;
  .panelsIcon {
    cursor: pointer;
    font-size: 1.5rem;
  }
  .menu {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: var(--color-bg-main);
    padding: 6rem 1.5rem 2rem 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: var(--border-radius-l);
    white-space: nowrap;
    font-size: 1rem;
    color: var(--color-text-secondary);
    .title {
      margin-bottom: 1rem;
    }
    .menuItem {
      display: flex;
      gap: 0.7rem;
      align-items: center;
      .active {
        background: var(--color-action-active) !important;
      }
      .inactive {
        background: var(--color-bg-tile) !important;
      }
      .panelStatus {
        cursor: pointer;
        width: 50px;
        height: 25px;
        border-radius: var(--border-radius-l);
        background: var(--color-bg-tile);
        padding: 0.1rem;
        .indicator {
          width: 50%;
          height: 100%;
          display: block;
          border-radius: var(--border-radius-l);
          //background: var(--color-bg-secondary);
        }
      }
    }
  }
}
