.dashboardControls {
  position: relative;
  .panelsIcon {
    cursor: pointer;
    font-size: 1.5rem;
  }
  .menu {
    z-index: 10;
    position: absolute;
    top: 50px;
    right: 0;
    background: var(--color-bg-main);
    padding: 0.7rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
    li {
      display: flex;
      gap: 0.7rem;
      align-items: center;
    }
  }
}
