.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  background: var(--color-bg-main);
  padding: 1rem 0.5rem;
  .icon {
    position: relative;
    font-size: 1.2rem;
    padding: 0.4rem;
    background: var(--color-bg-tile);
    border-radius: var(--border-radius-m);
    color: var(--color-text-secondary);
    cursor: pointer;
    transition: background 0.25s ease;
    &:hover {
      background: #414141;
    }
  }
  .menuIcon {
    margin-right: auto;
    @media (min-width: 550px) {
      display: none;
    }
  }
  .notificationsIcon {
    .counter {
      position: absolute;
      bottom: -4px;
      right: -6px;
      font-size: 0.8rem;
      background-color: var(--color-text-active);
      border-radius: 50%;
      width: 10px;
      aspect-ratio: 1/1;
    }
  }
}
