.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--border-radius-l);
  white-space: nowrap;
  font-size: 0.9rem;
  color: var(--color-text-primary);
  .title {
    margin-bottom: 1rem;
  }
  .menuItem {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
