.dashboardControls {
  position: relative;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  border-radius: 21px;
  break-inside: avoid;
  margin-bottom: 1.5rem;
  .menu {
    z-index: 10;
    position: absolute;
    top: 40px;
    right: 0;
    background: var(--color-bg-secondary);
    padding: 0.7rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
    li {
      display: flex;
      gap: 0.7rem;
      align-items: center;
    }
  }
}
