.header {
  position: relative;
  z-index: 96;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #ffffff00;
  backdrop-filter: blur(10px);
  border-radius: 14px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-left: 1rem;
  &::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: -1rem;
    right: -1rem;
    height: 2px;
    background: rgba(255, 255, 255, 0.082);
  }
  .userProfile {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    .avatar {
      border-radius: 50%;
      border: 1px solid rgba(233, 233, 233, 0.671);
      padding: 0.1rem;
    }
    .name {
      font-weight: 600;
      font-size: 0.95rem;
    }
    .icon {
      color: #8a8a8a;
      font-size: 1.1rem;
    }
  }
  .notificationsIcon {
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
    .counter {
      position: absolute;
      bottom: -7px;
      right: -6px;
      font-size: 0.8rem;
      background-color: #41b300;
      border-radius: 50%;
      width: 14px;
      aspect-ratio: 1/1;
    }
  }
}
