$background: #0a0a0a;
$hover: #5be20d;

.sidebar {
  z-index: 99;
  position: fixed;
  left: 0;
  height: 100%;
  padding: 0 0.8rem;
  background: $background;
  width: auto;
  .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.3rem;
    .sidebarItem {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: $hover;
      }
      & svg {
        display: block;
      }
      .label {
        font-size: 1rem;
      }
    }
  }
}
