.sidebar {
  z-index: 97;
  //position: absolute;
  background: var(--color-bg-main);
  backdrop-filter: blur(10px);
  max-width: 65px;
  transition: max-width 0.15s ease;
  grid-area: sidebar;
  padding: 6rem 1rem 1rem 1rem;
  height: 100%;
  font-size: 0.9rem;
  &.expanded {
    position: relative;
    //Sidebar menu width + padding
    width: calc(180px + 2rem);
    max-width: none;
    .menu .item .label {
      opacity: 1;
    }
    .menu .sidebarSwitch {
      opacity: 1;
    }
  }
  .menu {
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    height: 100%;
    .settings {
      margin-top: auto;
    }
    .logout {
      color: var(--color-action-active) !important;
      font-weight: bold;
      margin-top: auto;
    }
    .item {
      position: relative;
      cursor: pointer;
      display: flex;
      gap: 0.8rem;
      align-items: center;
      white-space: nowrap;
      color: var(--color-text-secondary);
      transition: color 0.25s ease;
      padding: 0.3rem;
      .settings {
        margin-top: auto;
      }
      &:hover {
        color: var(--color-action-hover);
      }
      svg {
        flex-shrink: 0;
        display: block;
        font-size: 1.2rem;
        //This is to adjust label alignment with icons as label is always visible even if not defined
        margin-left: 0.1rem;
      }
      .label {
        opacity: 0;
        pointer-events: none;
        transition: 0.15s opacity ease;
      }
    }
    .active {
      color: var(--color-text-primary);
      background: var(--color-action-active);
      border-radius: 10px;
      &:hover {
        color: var(--color-text-primary);
      }
    }
    .sidebarSwitch {
      opacity: 0;
      transition: opacity 0.15s ease;
      position: absolute;
      top: 50%;
      right: -1rem;
      .panelStatus {
        display: block;
        cursor: pointer;
        width: 45px;
        border-radius: var(--border-radius-l);
        background: var(--color-bg-tile);
        padding: 0.2rem;
        &.active {
          background: var(--color-action-active) !important;
          .indicator {
            background: #fff;
          }
        }
        &.inactive {
          background: #b4b4b4 !important;
          .indicator {
            background: #444444ff;
          }
        }
        .indicator {
          width: 50%;
          aspect-ratio: 1/1;
          display: block;
          border-radius: 50%;
        }
      }
      .label {
        color: var(--color-text-secondary);
        font-size: 1rem;
      }
    }
  }

  .expandButton {
    z-index: 11;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 2rem;
  }

  &:hover {
    max-width: 250px;
  }
  &:hover .menu .item .label {
    opacity: 1;
  }
  &:hover .menu .sidebarSwitch {
    opacity: 1;
  }
}
