.sidebar {
  z-index: 97;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  background: var(--color-bg-main);
  backdrop-filter: blur(10px);
  max-width: 65px;
  transition: max-width 0.15s ease;
  .menu {
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    height: 100%;
    .settings {
      margin-top: auto;
    }
    .logout {
      color: var(--color-action-active) !important;
      font-weight: bold;
    }
    .item {
      position: relative;
      cursor: pointer;
      display: flex;
      gap: 0.8rem;
      white-space: nowrap;
      color: var(--color-text-secondary);
      transition: 0.15s color ease;
      padding: 0.3rem;
      .settings {
        margin-top: auto;
      }
      &:hover {
        color: var(--color-action-hover);
      }
      svg {
        flex-shrink: 0;
        display: block;
        font-size: 1.4rem;
      }
      .label {
        font-size: 1rem;
        opacity: 0;
        pointer-events: none;
        transition: 0.15s opacity ease;
      }
    }
    .active {
      color: var(--color-text-primary);
      background: var(--color-action-active);
      border-radius: 10px;
      &:hover {
        color: var(--color-text-primary);
      }
    }
  }
  &:hover {
    max-width: 250px;
    padding-right: 1rem;
  }
  &:hover .menu .item .label {
    opacity: 1;
  }
  &:hover .menu .item.active::after {
    right: -1rem;
  }
}
