.sidebar {
  background: var(--color-bg-main);
  max-width: 62px;
  transition: max-width 0.15s ease;
  grid-area: sidebar;
  padding: 6rem 1rem 1rem 1rem;
  height: 100%;
  font-size: 0.9rem;
  &.expanded {
    position: relative;
    //Sidebar menu width + padding
    width: calc(178px + 2rem);
    max-width: none;
    .menu .item .label {
      opacity: 1;
    }
    .menu .sidebarSwitch {
      opacity: 1;
    }
  }
  &:hover {
    max-width: 250px;
  }
  &:hover .menu .item .label {
    opacity: 1;
  }
  &:hover .menu .sidebarSwitch {
    opacity: 1;
  }
  .menu {
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    height: 100%;
    .settings {
      margin-top: auto;
    }
    .logout {
      color: var(--color-action-active) !important;
      font-weight: bold;
      margin-top: auto;
      &:hover {
        color: var(--color-action-active-hover) !important;
      }
    }
    .item {
      position: relative;
      cursor: pointer;
      display: flex;
      gap: 0.8rem;
      align-items: center;
      white-space: nowrap;
      color: var(--color-text-secondary);
      transition: color 0.25s ease;
      padding: 0.3rem;
      &.active {
        color: var(--color-text-primary);
        background: var(--color-action-active);
        border-radius: 10px;
        &:hover {
          color: var(--color-text-primary);
        }
      }
      .settings {
        margin-top: auto;
      }
      &:hover {
        color: var(--color-action-hover);
      }
      .icon {
        flex-shrink: 0;
        display: block;
        font-size: 1.2rem;
      }
      .label {
        opacity: 0;
        pointer-events: none;
        transition: 0.15s opacity ease;
      }
    }
    .sidebarSwitch {
      opacity: 0;
      transition: opacity 0.15s ease;
      position: absolute;
      top: 50%;
      right: -1rem;
    }
  }
}

@media (max-width: 768px) {
  //Make sidebar absolute on mobile to overlay content
  .sidebar {
    z-index: 97;
    position: absolute !important;
    &.expanded {
      position: absolute !important;
      width: auto;
      max-width: 62px;
      &:hover {
        max-width: 250px;
        .menu .item .label {
          opacity: 1;
        }
      }
      .menu .item .label {
        opacity: 0;
      }
      .menu .sidebarSwitch {
        opacity: 0;
      }
    }
    .menu .sidebarSwitch {
      display: none;
    }
  }
}
