.futureBalance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1rem;
  border-radius: var(--border-radius-l);
  box-shadow: var(--box-shadow-default);
  .balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
