.upcomingPaymentsContainer {
  --color-bg-income: rgba(65, 179, 0, 0.1);
  --color-bg-icon-income: #42b30059;
  --color-text-income: #41b300;
  --color-bg-expense: rgba(255, 0, 0, 0.1);
  --color-bg-icon-expense: #ff000059;
  --color-text-expense: #ff0000;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  .item {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    cursor: pointer;
    padding: 0.4rem 0.6rem;
    border-radius: 10px;
    width: fit-content;
    .iconWrapper {
      border-radius: 7px;
      padding: 0.3rem;
      width: fit-content;
      .icon {
        font-size: 1.2rem;
        svg {
          display: block;
        }
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      .amount {
        font-weight: 600;
        background: 0;
        border: 0;
      }
    }
  }
  .income {
    background: var(--color-bg-income);
    .incomeIconWrapper {
      color: var(--color-text-income);
      background: var(--color-bg-icon-income);
    }
    .amount {
      color: var(--color-text-income);
    }
  }
  .expense {
    background: var(--color-bg-expense);
    .expenseIconWrapper {
      color: var(--color-text-expense);
      background: var(--color-bg-icon-expense);
    }
    .amount {
      color: var(--color-text-expense);
    }
  }
  .none {
    padding: 0.3rem 0.4rem;
    border-radius: 6px;
    width: fit-content;
    color: var(--color-text-secondary);
    background: #80808025;
  }
}
