.selectContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  background: var(--color-bg-secondary);
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  border-radius: 10px;
  .select {
    position: relative;
    background: var(--color-bg-tile);
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    .datePicker {
      z-index: 99;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: var(--color-bg-secondary);
      border: 0;
    }
    .selectedOption {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      padding: 0.5rem 0.5rem 0.5rem 1em;
      white-space: nowrap;
      color: var(--color-text-secondary);
    }
  }

  .option {
    //padding: 0.3rem 0.6rem;
    gap: 0.3rem;
    cursor: pointer;
  }
  .activeOption {
    // background: var(--color-action-active);
    color: var(--color-action-active);
    border-radius: 7px;
  }

  .dateSelected {
    right: 70px;
  }
}
