.selectContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  .editButton {
    height: 100%;
    font-size: 1rem;
    background: var(--color-input-bg);
    &:hover {
      background: #414141;
    }
  }
  .select {
    position: relative;
    background: var(--color-input-bg);
    border-radius: var(--border-radius-m);
    cursor: pointer;
    margin-left: auto;
  }
}
