.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-text-primary);
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  .selects {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .yearHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.7rem;
      font-weight: bold;
      .icon {
        font-size: 1.2rem;
      }
    }
  }
}
