.authLayout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(
  //   135deg,
  //   var(--color-bg-main) 10%,
  //   #742700 50%,
  //   var(--color-bg-main) 90%
  // );
  background: var(--color-bg-main);
  .image {
    display: none;
  }
  .innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 700px;
    height: 100%;
    background: var(--color-bg-secondary);
    border-radius: var(--border-radius-xl);
    padding-top: 3rem;
    .logo {
      position: absolute;
      top: 1rem;
      left: 1rem;
      color: var(--color-action-active);
    }
  }
  .imageWrapper {
    background: var(--color-bg-main);
    display: block;
    padding: 1rem;
    .imageContainer {
      background: linear-gradient(
        135deg,
        var(--color-bg-main) 0%,
        #d34702 50%,
        var(--color-bg-main) 100%
      );
      height: 100%;
      width: 100%;
      padding: 1rem;
      .image {
        position: relative !important;
        width: 100% !important;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 1023px) {
  .authLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// @media (min-width: 1024px) {
//   .authLayout {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     .image {
//       display: block;
//     }
//     // .imageWrapper {
//     //   background: #973a13;
//     //   display: block;
//     // }
//   }
// }
