.statusWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .status {
    padding: 0.2rem;
    border-radius: 8px;
  }
  span {
    //color: var(--color-text-active);
  }
  .status {
    margin-top: -0.3rem;
    font-size: 0.85rem;
    color: var(--color-text-active);
    font-weight: 600;
  }
}
