.menuItem {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-size: 0.85rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  margin: 0.3rem 0;
  &:hover {
    color: var(--color-action-hover);
  }
  .icon {
    font-size: 1rem;
  }
}
