.gridContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .optionsBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: var(--color-bg-secondary);
    border-radius: var(--border-radius-l);
    white-space: nowrap;
    .addPayment {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background: var(--color-action-active);
      padding: 0.5rem 0.7rem;
      border-radius: var(--border-radius-m);
      font-weight: 600;
      transition: background 0.2s ease-in-out;
      .icon {
        font-size: 1.2rem;
      }
      &:hover {
        background: var(--color-action-active-hover);
      }
    }
    .sorting {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  .paymentsGrid {
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr auto;
    gap: 1rem;
    .gridHeader {
      display: contents;
      font-weight: 600;
      color: var(--color-text-secondary);
      list-style: none;
      li {
        padding: 1rem 0;
        background: var(--color-bg-secondary);
        &:nth-child(1) {
          padding-left: 0.7rem;
        }
        &:nth-child(4) {
          text-align: right;
          padding-right: 0.7rem;
        }
      }
    }
    .gridItem {
      display: grid;
      grid-template-columns: subgrid; //Use parent grid columns
      grid-column: 1 / -1; //Span all columns
      align-items: center;
      padding: 1rem 0.7rem;
      background: var(--color-bg-tile);
      border-radius: 12px;
      font-size: 1rem;
      p {
        font-size: 0.95rem;
      }
      .details {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        .name {
          font-weight: bold;
          font-size: 1rem;
        }
        .date {
          color: var(--color-text-secondary);
        }
      }
      .frequency {
        color: var(--color-text-secondary);
        text-transform: capitalize;
      }
      .type {
        display: flex;
        align-items: center;
        gap: 0.1rem;
        font-weight: bold;
      }
      .income {
        color: #41b300;
        //background: #42b30059;
      }
      .expense {
        color: #ff0000;
        //background: #ff000059;
      }
    }
  }
}
