.button {
  --color-bg-button-primary: #d34702;
  --color-bg-button-primary-hover: #7c2a00;
  --color-bg-button-secondary: #1c1c1c;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border-radius: 10px;
  border: 0;
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
  .icon {
    //font-size: 1.1rem;
    svg {
      display: block;
    }
  }
}

.left {
  flex-direction: row-reverse;
}

.right {
  flex-direction: row;
}

.small {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 8px;
}

.medium {
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  .icon {
    font-size: 1rem;
  }
}
.large {
  padding: 0.7rem 1rem;
  font-size: 0.95rem;
  border-radius: 12px;
  .icon {
    font-size: 1.2rem;
  }
}
.primary {
  background: var(--color-bg-button-primary);
  color: white;
  font-weight: 600;
  &:hover {
    background: var(--color-bg-button-primary-hover);
  }
}

.secondary {
  background: var(--color-bg-button-secondary);
  color: white;
  font-weight: 600;
  &:hover {
    background: #414141;
  }
}

.disabled {
  background: #d3d3d3;
  color: #a9a9a9;
  cursor: not-allowed;
  &:hover {
    background: #d3d3d3;
  }
}
