@use "@/shared/styles/mixins/inputs" as inputs;

.inputContainer {
  cursor: pointer;
  @include inputs.inputSkeleton;
  .dropdownIcon {
    position: absolute;
    right: 1.3rem;
    color: var(--color-input-text);
    font-size: 1.2rem;
  }
}
