//@import "@/shared/styles/mixins.scss";
@use "@/shared/styles/mixins" as mixins;

.inputContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  .label {
    @include mixins.inputLabel;
  }
  .inputFieldWrapper {
    display: flex;
    position: relative;
    flex: 1;
    .inputField {
      @include mixins.defaultInput;
    }
    .withIcon {
      padding-left: 1.8rem;
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translate(0, -50%);
    }
  }
}

.horizontal {
  flex-direction: row;
}
.vertical {
  flex-direction: column;
  .label {
    margin-right: auto;
  }
}

.errorContainer {
  margin-right: auto;
  color: rgb(255, 255, 255);
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.3);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.4rem;
  border-radius: 6px;
  .errorMessage {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    .icon {
      font-size: 1.3rem;
    }
  }
}
