@use "@/shared/styles/mixins/inputs" as inputs;

.inputContainer {
  @include inputs.inputSkeleton;
}
.horizontal {
  grid-template-columns: 150px 1fr;
}
.vertical {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
