@use "@/shared/styles/mixins/inputs" as inputs;

.noLabel {
  grid-template-columns: auto !important;
}

.inputContainer {
  cursor: pointer;
  @include inputs.inputSkeleton;
  .selectInputField {
    gap: 0.5rem;
  }
  .dropdownIcon {
    font-size: 1.1rem;
    transition: all 0.2s ease;
  }
  .dropdownOpen {
    transform: rotate(180deg);
  }
  .selectOptions {
    transform-origin: top;
    z-index: 6;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background: var(--color-input-bg);
    font-size: var(--input-font-size);
    list-style: none;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    cursor: pointer;
    border-radius: var(--border-radius-l);
    .option {
      padding: 0.5rem;
      border-radius: var(--border-radius-m);
      transition: 0.2s all ease;
      &:hover {
        background: var(--color-action-active-hover);
        color: var(--color-text-on-accent);
      }
    }
    .active {
      background: var(--color-action-active);
      color: var(--color-text-on-accent);
    }
  }
}
