@use "@/shared/styles/mixins/inputs" as inputs;

.noLabel {
  grid-template-columns: auto !important;
}

.inputContainer {
  cursor: pointer;
  @include inputs.inputSkeleton;
  .selectInputField {
    gap: 0.5rem;
  }
  .dropdownIcon {
    font-size: 1rem;
    transition: all 0.2s ease;
  }
  .dropdownOpen {
    transform: rotate(180deg);
  }
  .selectOptions {
    transform-origin: top;
    z-index: 6;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    background: var(--color-input-bg);
    font-size: var(--input-font-size);
    list-style: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: var(--border-radius-l);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    .option {
      padding: 0.5rem;
      border-radius: var(--border-radius-m);
      display: flex;
      gap: 0.6rem;
      align-items: center;
      justify-content: space-between;
      transition: 0.2s all ease;
      &:hover {
        background: var(--color-action-active);
        color: var(--color-text-on-accent);
      }
    }
    .activeIcon {
      font-size: 1.2rem;
    }
  }
}
