.dashboardLayout {
  z-index: 98;
  position: relative;
  min-height: 100vh;
  //Sidebar margin + width
  padding-left: calc(1.5rem + 38px);
  //Header height + margin
  padding-top: calc(2rem + 45px);
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  padding-right: auto;
}

@media (min-width: 768px) {
  .dashboardLayout {
    display: inline-block;
    column-count: 2;
  }
}
