.layout {
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-template-rows: 45px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  padding: 0.5rem;
  // background:
  //   radial-gradient(circle at 30% 30%, rgba(255, 0, 150, 0.4), transparent 70%),
  //   radial-gradient(circle at 70% 70%, rgba(0, 200, 255, 0.4), transparent 70%);
  .innerWrapper {
    position: relative;
    grid-area: main;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    // padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .dashboardLayout {
    display: inline-block !important;
    column-count: 2;
  }
}
