.dashboardLayout {
  min-height: 100vh;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  .innerWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

// @media (min-width: 768px) {
//   .dashboardLayout {
//     display: block;
//     column-count: 2;
//   }
// }

// @media (min-width: 1024px) {
//   .dashboardLayout {
//     display: block;
//     column-count: 3;
//   }
// }
