.layout {
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(65px, auto) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  .innerWrapper {
    border-radius: var(--border-radius-l);
    background: var(--color-bg-secondary);
    position: relative;
    grid-area: main;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0.5rem 2rem 2rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    transition: all 0.3s ease;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .layout {
    grid-template-columns: 1fr;
    .innerWrapper {
      padding: 0.5rem;
    }
  }
}
