.userLayout {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5em;
  margin-top: 2rem;
  flex: 1 0;
  .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1px solid rgba(109, 109, 109, 0.2);
    padding-right: 2.5rem;
    .item {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      white-space: nowrap;
      padding: 0.5rem 0.8rem;
      border-radius: var(--border-radius-m);
      font-size: 0.9rem;
      .icon {
        font-size: 1.05rem;
      }
      &.active {
        background: var(--color-action-active);
      }
    }
  }
}
