.userLayout {
  display: grid;
  gap: 2em;
  margin-top: 1rem;
  flex: 1 0;
  background: var(--color-bg-tile);
  padding: 2rem;
  border-radius: var(--border-radius-l);
  .menu {
    position: relative;
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-right: 2rem;
    height: 100%;
    font-size: 0.85rem;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      background: #292929;
    }
    .item {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      white-space: nowrap;
      padding: 0.5rem 0.8rem;
      border-radius: var(--border-radius-m);
      .icon {
        font-size: 1rem;
      }
      &.active {
        background: var(--color-action-active);
      }
    }
  }
}

@media (min-width: 1024px) {
  .userLayout {
    grid-template-columns: auto 1fr;
    .menu {
      flex-direction: column;
    }
  }
}
