.accountDetails {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: var(--color-bg-tile);
  padding: 2rem;
  border-radius: var(--border-radius-l);
  .section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
  }
  .avatarContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .editButton {
      position: absolute;
      top: 80px;
      left: 50px;
    }
    .avatar {
      border-radius: 50%;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
