.accountDetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &:first-child {
      margin-bottom: 1rem;
      &::after {
        bottom: -2rem;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: rgba(109, 109, 109, 0.233);
    }
    // .separator {
    //   position: absolute;
    //   bottom: -1rem;
    //   left: 0;
    //   height: 2px;
    //   width: 100%;
    //   background-color: rgba(109, 109, 109, 0.2);
    // }
  }
  .avatarContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .editButton {
      position: absolute;
      top: 80px;
      left: 50px;
    }
    .avatar {
      border-radius: 50%;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

// @media (min-width: 768px) {
//   .accountDetails {
//     flex-direction: row;
//   }
// }
