.userProfileContainer {
  //background: var(--color-bg-tile);
  // box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  top: 0.5rem;
  left: 0;
  // max-height: 44px;
  //transition: 0.15s max-height ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 14px;
  padding: 0.1rem 0.6rem 0.1rem 0rem;
  font-size: 0.85rem;
  .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    .imageWrapper {
      border-radius: 50%;
      .avatar {
        border-radius: 50%;
      }
      //border: 1px solid rgba(233, 233, 233, 0.671);
      //padding: 0.1rem;
    }
    // .name {
    //   font-weight: 600;
    // }
    .icon {
      color: #8a8a8a;
      font-size: 1.1rem;
      transition: 0.15s transform ease;
    }
  }
  .menu {
    z-index: 10;
    position: fixed;
    top: 80px;
    right: 1rem;
    background: var(--color-bg-tile);
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    .item {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      transition: color 0.25s ease;
      &:hover {
        color: var(--color-action-active);
      }
    }
  }
}
.expanded {
  .collapsed .icon {
    transform: rotate(180deg);
  }
}
