.userProfile {
  z-index: 99;
  //background: var(--color-bg-tile);
  position: absolute;
  top: 0.5rem;
  left: 0;
  max-height: 44px;
  transition: 0.15s max-height ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
  border-radius: 14px;
  padding: 0.5rem;
  font-size: 0.9rem;
  .collapsed {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    .avatar {
      border-radius: 50%;
      border: 1px solid rgba(233, 233, 233, 0.671);
      padding: 0.1rem;
    }
    .name {
      font-weight: 600;
    }
    .icon {
      color: #8a8a8a;
      font-size: 1.1rem;
      transition: 0.15s transform ease;
    }
  }
  .userProfileMenu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .item {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      transition: color 0.25s ease;
      &:hover {
        color: var(--color-action-active);
      }
    }
  }
}
.expanded {
  .collapsed .icon {
    transform: rotate(180deg);
  }
}
