.userProfileContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 14px;
  padding: 0.1rem 0.6rem 0.1rem 0rem;
  font-size: 0.85rem;
  .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    .imageWrapper {
      border-radius: 50%;
      cursor: pointer;
      .avatar {
        border-radius: 50%;
      }
    }
  }
  .menu {
    z-index: 10;
    position: fixed;
    top: 80px;
    right: 1rem;
    background: var(--color-bg-tile);
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: color 0.25s ease;
      &:hover {
        color: var(--color-action-active);
      }
    }
  }
}
