.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  .button {
    cursor: pointer;
    z-index: 10;
    position: relative;
    background: transparent;
    border: 0;
    font-size: 1.2rem;
    border-radius: 50%;
    //padding: 0.5rem 0;
    svg {
      display: block;
      color: var(--color-text-primary);
    }
  }
  .disabled {
    opacity: 0;
  }
}
