.accountsPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .manageAccounts {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--color-action-active);
    }
  }
}
