.emblaContainer {
  position: relative;
  overflow: hidden;
  margin-top: 0.5rem;
  .accounts {
    display: flex;
    gap: 0.8rem;
    touch-action: pan-y pinch-zoom;
  }
}

.noAccounts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
