.emblaContainer {
  position: relative;
  overflow: hidden;
  .accounts {
    display: flex;
    gap: 0.8rem;
    touch-action: pan-y pinch-zoom;
    .account {
      position: relative;
      flex: 0 0 70%;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      //height: 100%;
      z-index: 1;
      border-radius: var(--border-radius-m);
      //box-shadow: var(--box-shadow-default);
      //background: rgba(255, 255, 255, 0.2);
      //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      //border-radius: 1rem;
      //padding: 0.5rem;
      overflow: hidden;
      box-shadow: var(--box-shadow-default);
      .innerWrapper {
        //backdrop-filter: blur(5px);
        border-radius: var(--border-radius-m);
        position: relative;
        z-index: 1;
        padding: 1rem;
        .details {
          z-index: 1;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          border-radius: 10px;
          // background: rgb(255 255 255 / 12%);
          // border: 1px solid rgba(255, 255, 255, 0.1);
          //padding: 0.8rem;
          // backdrop-filter: blur(5px);
          .type {
            text-transform: capitalize;
            font-size: 0.85rem;
            color: #a3a3a3;
          }
        }
        .balance {
          z-index: 1;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 600;
          width: 100%;
          gap: 0.5rem;
          margin-top: 0.5rem;
          background: rgba(46, 46, 46, 0.12);
          //background: var(--color-bg-tile);
          box-shadow: var(--box-shadow-default);
          backdrop-filter: blur(5px);
          // border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: var(--border-radius-m);
          padding: 0.5rem;
          //margin-top: 0.6rem;
          // backdrop-filter: blur(5px);
          span {
            &:last-child {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .shape {
      position: absolute;
      top: 0;
      left: 250px;
      height: 500px;
      width: 500px;
      border-radius: 50%;
      background: transparent;
      border: 40px solid rgba(255, 255, 255, 0.1);
      bottom: -250px;
      right: -250px;
      box-sizing: border-box;
      &::after {
        content: "";
        position: absolute;
        height: 600px;
        width: 600px;
        border-radius: 50%;
        background: transparent;
        border: 20px solid rgba(255, 255, 255, 0.1);
        bottom: -80px;
        right: -110px;
        box-sizing: border-box;
      }
    }
  }
  .buttons {
    // position: absolute;
    // bottom: 1rem;
    // top: 50%;
    // transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    padding: 0 1rem;
    .button {
      cursor: pointer;
      z-index: 10;
      position: relative;
      background: transparent;
      border: 0;
      font-size: 1.2rem;
      border-radius: 50%;
      padding: 0.5rem 0;
      svg {
        display: block;
        color: var(--color-text-primary);
      }
    }
    .disabled {
      opacity: 0;
    }
  }
}

.noAccounts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// .blur {
//   &::after,
//   &::before {
//     content: "";
//     position: absolute;
//     top: -30px;
//     bottom: -30px;
//     width: 100px;
//     pointer-events: none;
//   }
//   &.left::before {
//     left: 0;
//     background: linear-gradient(
//       to right,
//       rgb(19, 19, 19),
//       rgba(255, 255, 255, 0)
//     );
//   }

//   &.right::after {
//     right: 0;
//     background: linear-gradient(
//       to left,
//       rgb(24 24 24 / 74%),
//       rgba(255, 255, 255, 0)
//     );
//   }
// }
