.accountGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .syncInfo {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    p {
      font-size: 0.8rem;
      color: var(--color-text-secondary);
    }
  }
  &::after {
    position: absolute;
    bottom: -1.3rem;
    left: 0;
    width: 100%;
    content: "";
    grid-column: 1 / -1; //Span all columns
    height: 1px;
    background: #292929;
  }
  .accountsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 1rem;
  }
}
