$secondayTextColor: #b3b3b3;

.transactionsTile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  .noTransactions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .transactionItem {
    display: grid;
    grid-template-columns: auto 1fr 0.7fr;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: 14px;
    .transactionImage {
      margin-right: 0.5rem;
    }
    .transactionDescription {
      margin-right: auto;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.3rem;
      .name {
        font-size: 0.9rem;
        font-weight: bold;
      }
      .category {
        font-size: 0.9rem;
        color: $secondayTextColor;
      }
    }
    .transactionDetails {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.2rem;
    }
    .date {
      font-size: 0.9rem;
      color: $secondayTextColor;
    }
    .transactionAmount {
      font-size: 0.9rem;
      font-weight: 600;
    }
    .income {
      color: #41a706;
      justify-self: flex-end;
    }
    .expense {
      color: #ff0000;
      justify-self: flex-end;
    }
  }
}
