.backButton {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  width: fit-content;
  .icon {
    font-size: 1.3rem;
    background: var(--color-action-active);
    border-radius: var(--border-radius-m);
    padding: 0.3rem;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: var(--color-action-active-hover);
    }
  }
}
