.confirmActionContainer {
  --color-bg-blur: #2e2e2e83;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--color-bg-blur);
  display: flex;
  justify-content: center;
  align-items: center;
  .innerContainer {
    background: var(--color-bg-tile);
    line-height: 2rem;
    padding: 1.5rem;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    .buttonsContainer {
      display: flex;
      gap: 1rem;
    }
  }
}
