.confirmActionContainer {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2e2e2ea2;
  display: flex;
  justify-content: center;
  align-items: center;
  .innerContainer {
    background: var(--color-bg-secondary);
    line-height: 2rem;
    padding: 1.5rem;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    .buttonsContainer {
      display: flex;
      gap: 0.5rem;
    }
  }
}
