.menu {
  list-style: none;
  display: flex;
  gap: 0.4rem;
  background: #0a0a0a;
  border-radius: 8px;
  padding: 0.5rem;
  .item {
    cursor: pointer;
    //   background: #5be20d;
    //   color: #255c05;
    padding: 0.5rem;
    border-radius: 8px;
    //   background: #0a0a0a;
    //   border-radius: 8px;
    //   padding: 0.3rem;
  }
  .active {
    background: #5be20d;
    color: #255c05;
  }
}
