.popUp {
  z-index: 10;
  position: absolute;
  top: 80px;
  background: var(--color-bg-tile);
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--border-radius-l);
  white-space: nowrap;
  font-size: 0.9rem;
  color: var(--color-text-primary);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
