.menu {
  list-style: none;
  display: flex;
  gap: 0.4rem;
  background: var(--color-bg-secondary);
  border-radius: var(--border-radius-m);
  padding: 0.1rem;
  width: fit-content;
  .item {
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.5rem 0.8rem;
    border-radius: var(--border-radius-m);
  }
  .active {
    background: var(--color-action-active);
  }
}
